<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">

  <title>受付システム　Lovie Reception</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}" type="text/css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript">
    var ws = new WebSocket("ws://127.0.0.1:8000/echo");
    ws.onmessage = function(e) {
    //ws.addEventlistner('onmessage', function(e) {
	
	//parse message
	var data = JSON.parse(e.data);
	var name = data.name;
	var message = data.message;

	//メッセージ表示
	if (name == 'machine'){
	addmsg_machine(message)
	}
	else if (name == 'guest'){
	addmsg_guest(message)
	}
	//})
};

function addmsg_machine(msg) {
	// body...

	let message = `
		<div class="kaiwa">
		 <figure class="kaiwa-img-left">
		   <img src="{{ url_for('static', filename='img/love.jpg') }}" alt="no-img2″>
		 <figcaption class="kaiwa-img-description">Love
		 </figcaption>
		 </figure>
		 <div class="kaiwa-text-right">
		   <p class="kaiwa-text">
		   	${msg }
		   </p>
		 </div>
		</div>`

	$('body').append( message)
	}

function addmsg_guest(msg) {
	// body...

	let message = `
		<div class="kaiwa">
		 <figure class="kaiwa-img-right">
		   <img src="{{ url_for('static', filename='img/guest.jpg') }}" alt="no-img2″>
		 <figcaption class="kaiwa-img-description">Guest
		 </figcaption>
		 </figure>
		 <div class="kaiwa-text-left">
		   <p class="kaiwa-text">
		   	${msg }
		   </p>
		 </div>
		</div>`

	$('body').append( message)
	}

</script>
</head>

<body>
  <h1>受付システム　Lovie Reception</h1>

</body>
</html>
